/code/01_unidad/ConsultaMedica-v2.0/nbproject/private/
/code/01_unidad/ConsultaMedica-v2.0/build/
/code/01_unidad/ConsultaMedica-v2.0/dist/
/code/01_unidad/SistemaBibliotecario/nbproject/private/
/code/01_unidad/SistemaBibliotecario/build/
/code/01_unidad/FigurasGeometricas/nbproject/private/
/code/01_unidad/ConsultaMedica-v3.0/nbproject/private/
/code/02_unidad/ConsultaMedica-v3.0/nbproject/private/
/code/02_unidad/ConsultaMedica-v3.0/build/
/code/02_unidad/ConsultaMedica-v3.0/dist/
/code/02_unidad/Formularios/nbproject/private/
/code/02_unidad/Formularios/build/
/code/03_unidad/FigurasGeometricas/nbproject/private/
/code/03_unidad/FigurasGeometricas/build/
/code/03_unidad/Figuras/nbproject/private/
/code/03_unidad/Figuras/build/
/code/03_unidad/Internacionalizacion/nbproject/private/
/code/03_unidad/Internacionalizacion/build/
